/2.data_manipulation_with_pandas/les3/data/df1.csv
/2.data_manipulation_with_pandas/les3/data/df2.csv
/2.data_manipulation_with_pandas/les3/data/df3.csv
/2.data_manipulation_with_pandas/les3/data/df4.csv
/2.data_manipulation_with_pandas/les3/data/df5.csv
/2.data_manipulation_with_pandas/les3/data/df6.csv
/2.data_manipulation_with_pandas/les3/data/df7.csv
/2.data_manipulation_with_pandas/les3/data/example_excel_demo.xlsx
/Voorbeeld_eindproef/data/raw/
/Voorbeeld_eindproef/data/temp/
/Voorbeeld_eindproef/data/preprocessed/
/Users/jonas/PycharmProjects/Data_Scientist_Syntra/2.data_manipulation_with_pandas/les4/data/train.csv
.idea
/2.data_manipulation_with_pandas/les4/data/derde.csv
/2.data_manipulation_with_pandas/les4/data/df2.pkl
/2.data_manipulation_with_pandas/les4/data/eerste.csv
/2.data_manipulation_with_pandas/les4/data/eerste.xlsx
/2.data_manipulation_with_pandas/les4/data/output2.parquet
/2.data_manipulation_with_pandas/les4/data/tweede.csv
/2.data_manipulation_with_pandas/les4/data/tweede.xlsx
/2.data_manipulation_with_pandas/les4/data/vierde.csv
/2.data_manipulation_with_pandas/les4/data/vijfde.csv
