/2.data_manipulation_with_pandas/les3/data/df1.csv
/2.data_manipulation_with_pandas/les3/data/df2.csv
/2.data_manipulation_with_pandas/les3/data/df3.csv
/2.data_manipulation_with_pandas/les3/data/df4.csv
/2.data_manipulation_with_pandas/les3/data/df5.csv
/2.data_manipulation_with_pandas/les3/data/df6.csv
/2.data_manipulation_with_pandas/les3/data/df7.csv
/2.data_manipulation_with_pandas/les3/data/example_excel_demo.xlsx
