# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/misc.xml
/vcs.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/Data_Scientist_Syntra.iml
